name = "searchable-whole-earth-frontend"
compatibility_date = "2024-12-01"
pages_build_output_dir = ".svelte-kit/cloudflare"

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
