name = "searchable-whole-earth-backend"
main = "src/main.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TURBOPUFFER_REGION = "aws-us-east-1"

[ai]
binding = "AI"

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
